<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Assignment Manager</title>
</head>
<body>
    <h1 class="text-3xl font-bold underline text-center">Assignment Manager App</h1>
<!-- Main Form -->
<form action="/add" method="POST" class="main-form">
    <div class="form-row">
        <div class="form-column">
            <label for="task">Task Name</label>
            <input type="text" id="task" name="task" placeholder="Task" required>
        </div>
        <div class="form-column">
            <label for="priority">Priority</label>
            <select id="priority" name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
        <div class="form-column">
            <label for="date">Due Date</label>
            <input type="date" id="date" name="date" required>
        </div>
    </div>
    <button type="submit">Add</button>
</form>


<!-- Filter Form -->
<div class="filter-container">
    <form action="/" method="GET">
        <select name="priority">
            <option value="">All Priorities</option>
            <option value="Low" {% if priority == "Low" %}selected{% endif %}>Low</option>
            <option value="Medium" {% if priority == "Medium" %}selected{% endif %}>Medium</option>
            <option value="High" {% if priority == "High" %}selected{% endif %}>High</option>
        </select>
        <input type="date" name="date" value="{{ date }}">
        <button type="submit">Filter</button>
    </form>
</div>

    <!-- Todo List -->
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.task }} - {{ todo.priority }} - {{ todo.date }}
            <a href="/edit/{{ todo._id }}">Edit</a>
            <a href="/delete/{{ todo._id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>
